.select-skills .css-sshsg3 {
  border-radius: 50px !important;
  padding: 0 20px !important;
  height: 35px !important;
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #e5e5e5 !important;
  box-shadow: none !important;
  outline: none !important;
}

.select-skills .css-1e4jev5 {
  visibility: hidden !important;
}

.select-skills .css-1a81rjc {
  padding: 11px 6px !important;
}

.select-rate .css-ky7590 {
  color: #000 !important;
}

.select-rate .css-j93siq {
  padding: 11px 6px !important;
}

@media (max-width: 1024px) {
  /* Adjust breakpoint as needed */
  .hidden {
    display: none !important;
  }
}
